/*----------CUSTOM VARIABLES------------*/
:root{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);



--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
}

/*----------GLOBAL STYLES------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-grayish-blue-1);
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    height: 100%;
  
}

/*----------HEADER STYLES------------*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: var(--Blue);
    
}

header p:hover, .chess:hover{
    
    cursor: pointer;
}

.number{
    background-color: var(--Blue);
    color: var(--White);
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
}

h4{
    font-size: 1.2rem;
    color: var(--Very-dark-blue);
}

/*----------NOTIFICATIONS STYLES------------*/
.notification{
    background: var(--Very-light-grayish-blue);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.notification-two{
    
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
}
.notifications{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.notification-text{
    width: 80%;
}

/*----------NOTIFICATIONS IMAGE STYLES------------*/
img{
    width: 100%;
}
.image{
    width: 5%;
}

/*----------NOTIFICATIONS NAME STYLES------------*/
.name{
    color: var(--Very-dark-blue);
    font-weight: 800;
}
.name:hover, .react:hover{
    color: var(--Blue);
    cursor: pointer;
    font-weight: bold;
}

/*----------NOTIFICATIONS MESSAGE STYLES------------*/
.message{
    border: 1px solid var(--Light-grayish-blue-2);
    padding: 1rem;
    margin-top: 1rem;
    color: var(--Grayish-blue)
}

.message:hover{
    background-color: var(--Light-grayish-blue-2);
    cursor: pointer;
}

/*----------UTILITY CLASSES------------*/
small{
    color: var(--Grayish-blue);
    opacity: 0.7;
}
.para{
    color: var(--Grayish-blue);
}

.react{
    color: var(--Dark-grayish-blue)
}
.reaction{
   color: var(--Very-dark-blue);
}
.white-background{
    background-color: white;
}
.chess{
    font-weight: 800;
    color: var(--Blue);
}
.fa-circle{
    color: red;
    font-size: 0.3rem;
}




@media(min-width: 675px){
    .container{
        padding: 2rem;
        max-width: 700px;
        height: auto;
        
    }

    body{
        height: 100vh;
    }
}








